<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="../assets/favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artisti | The Art Club</title>
    <link rel="stylesheet" href="./dist/output.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <link rel="icon" href="./assets/favicon.png">
    <link rel="stylesheet" href="https://cdn.tailgrids.com/tailgrids-fallback.css" />
    <script>
        AOS.init({
            duration: 1200,
        });
    </script>
</head>

<body>
    <div class="container flex justify-around mt-8">
        <div class="">
            <img class="absolute max-w-xs" src="./assets/img/cover.jpg" alt="">
            <img class="absolute w-52 h-56 mt-[20em] ml-[16em] border-2" src="./assets/img/girl.jpg" alt="">
        </div>
        <div id="cover-container" class="max-w-xs flex flex-col justify-center h-[33rem]">
            <h1 class="head text-[5rem] leading-tight">CLUB<br>ARTISTI</h1>
            <div class="flex flex-col font-TT-Drugs">
                <h4 class="font-tt mt-8 text-[1rem] leading-tight">THE  ONLY  ART CLUB  OF SMIT</h4>
                <p class="font-tt w-80 text-sm mt-4">
                    Our club is a vibrant hub of creativity where members come together to share their passion for art, learn new techniques, and showcase their work. Our website is your gateway to all the exciting things happening in our club.
                </p>
            </div>
        </div>
    </div>

    <%- include('journey') %>
    <%- include('quote') %>
    <%- include('services') %>
    <%- include('events') %>
    <%- include('joinus') %>
    
<script src="./js/hamburger.js"></script>

<script src="./js/aos.js"></script>

</html>
